.todo-list li.completed label .description {
	color: #cdcdcd;
	text-decoration: line-through;
}
.todo-list li.editing .view {
	display: none;
}
.todo-list li label .description {
	word-break: break-all;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
	font-weight: 400;
	color: #4d4d4d;
}

.todo-list li.completed label .description {
	color: #cdcdcd;
	text-decoration: line-through;
}
.todo-list li label .created {
	font-size: 13px;
	color: gray;
}
.todo-list li .icon {
	position: absolute;
	top: 0;
	bottom: -3px;
	width: 30px;
	height: 40px;
	font-size: 34px;
	color: #cc9a9a;
	margin: auto 0 11px;
	transition: color 0.2s ease-out;
	cursor: pointer;
}
.todo-list li .icon-edit {
	font-size: 19px;
	right: 45px;
}

.todo-list li .icon-edit:after {
	content: '✎';
}
.done {
	color: #cdcdcd;
	text-decoration: line-through;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.toggle-all,
	.todo-list li .toggle {
		background: none;
	}

	.todo-list li .toggle {
		height: 40px;
	}
}